.recommendedVideos {
    flex: 0.8;  /* flex goes from 0 to 1: use 80 percent of parent element */
    border: 1px solid red; 
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.recommendedVideos > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

/* apply wrapping when browser windows is resized */
.recommendedVideos__videos {
    display: flex; 
    flex-wrap: wrap;
}